{% extends "_base.html" %}

{% block title %}Excluir Entidade{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Confirmar Exclusão</h4>
                <p class="card-description">
                    Você tem certeza que deseja excluir a entidade:
                    <br>
                    <strong>{{ entidade.nome }}</strong> (Responsável: {{ entidade.responsavel }})?
                </p>

                <div class="alert alert-warning" role="alert">
                    Essa ação é irreversível e removerá todos os dados desta entidade.
                </div>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mr-2">Sim, Excluir</button>
                    <a href="{% url 'entidade_list' %}" class="btn btn-light">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
