


{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard_doacoes' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

{% if request.user.is_superuser or 'estoque.view_item' in perms %}
    <li class="nav-item">
   <a class="nav-link" href="{% url 'listar_estoque' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Estoque</span>
  </a>
</li>
{% endif %}

{% if request.user.is_superuser or 'entidade_beneficiada.view_entidadebeneficiada' in perms %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'entidade_list' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Destinario de doações</span>
  </a>
</li>
{% endif %}

{% if request.user.is_superuser or 'ponto_coleta.view_pontocoleta' in perms %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'ponto_list_doador' %}"> 
        <i class="icon-grid menu-icon"></i> <span class="menu-title">Pontos de Coleta</span>
    </a>
</li>
{% endif %}

{% if request.user.is_user or 'doacao.add_doacao' in perms %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'criar_doacao' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Registrar doação </span>
  </a>
</li>
{% endif %}

{% if request.user.is_authenticated and request.user.doador %}
      <li class="nav-item">
       <a class="nav-link" href="{% url 'perfil_doador' id=request.user.doador.id %}">
        <i class="icon-user menu-icon"></i>
        <span class="menu-title">Meu Perfil</span>
      </a>
    </li>
{% endif %}

{% if request.user.is_superuser or 'doador.view_doador' in perms %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'listar_doador' %}"> 
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Doadores</span>
  </a>
</li>
{% endif %}
 


<li class="nav-item">

    <a class="nav-link" href="#" 
       onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
       style="cursor: pointer;">
        
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Sair</span>
    </a>

    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
    </form>

</li>

 

    <li class="nav-item">
      <a class="nav-link" href="../../../docs/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title"></span>
      </a>
    </li>
  </ul>

</nav>
