{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard_doacoes' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
<li class="nav-item">
   <a class="nav-link" href="{% url 'listar_estoque' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Estoque</span>
  </a>
</li>
<li class="nav-item">
   <a class="nav-link" href="{% url 'entidade_list' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Destinario de doações</span>
  </a>
</li>
<li class="nav-item">
   <a class="nav-link" href="{% url 'criar_doacao' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Registrar doação </span>
  </a>
</li>

<li class="nav-item">
   <a class="nav-link" href="{% url 'listar_doador' %}"> 
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Doadores</span>
  </a>
</li>

    <li class="nav-item">
      <a class="nav-link" href="../../../docs/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>
    <li class="nav-item">
      <a class="nav-link" href="../../../docs/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>