{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard_doacoes' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

{% if request.user.is_superuser or 'estoque.view_item' in perms %}
    <li class="nav-item">
   <a class="nav-link" href="{% url 'listar_estoque' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Estoque</span>
  </a>
</li>
{% endif %}

{% if request.user.is_superuser or 'entidade_beneficiada.view_entidadebeneficiada' %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'entidade_list' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Destinario de doações</span>
  </a>
</li>
{% endif %}

{% if request.user.is_superuser %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'ponto_full_list' %}"> 
        <i class="icon-grid menu-icon"></i> <span class="menu-title">Pontos de Coleta</span>
    </a>
</li>
{% endif %}

{% if request.user.is_user or 'doacao.add_doacao' in perms %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'criar_doacao' %}">
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Registrar doação </span>
  </a>
</li>
{% endif %}

{% if request.user.is_superuser or 'doador.view_doador' %}
<li class="nav-item">
   <a class="nav-link" href="{% url 'listar_doador' %}"> 
    <i class="icon-grid menu-icon"></i>
    <span class="menu-title">Doadores</span>
  </a>
</li>
{% endif %}

    