{% extends "_base.html" %}

{% block content %}
<h2>
    {% if acao == 'editar' %}Editar Item{% else %}Saída do Estoque{% endif %}
</h2>

<form method="POST" 
      {% if acao == 'editar' %}action="{% url 'editar_item' item.id %}"{% else %}action="{% url 'deletar_item' item.id %}"{% endif %}>
    {% csrf_token %}

    {% if acao == 'editar' %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ item.nome }}" required>
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <input type="text" class="form-control" id="categoria" name="categoria" value="{{ item.categoria }}" required>
        </div>
        <div class="mb-3">
            <label for="unidade_medida" class="form-label">Unidade de Medida</label>
            <input type="text" class="form-control" id="unidade_medida" name="unidade_medida" value="{{ item.unidade_medida }}" required>
        </div>
        <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ item.quantidade }}" required>
            
        </div>
        <button type="submit" class="btn btn-success">Salvar alterações</button>
    {% else %}
        <p>Tem certeza que deseja remover do estoque <strong>{{ item.nome }}</strong>?</p>
        <button type="submit" class="btn btn-danger">Sim, quero remover</button>
        <a href="{% url 'listar_estoque' %}" class="btn btn-secondary">Cancelar</a>
    {% endif %}
</form>

{% endblock %}
