<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Plataforma de Doações{%endblock%}</title>
{%load static%}

    <link rel="stylesheet" href="{% static 'skydash-free/dist/assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'skydash-free/dist/assets/css/style.css' %}">


{% block extra_head %}{% endblock %}
</head>
<body>
    
<div class="container-scroller">
    {% include 'partials/navbar.html' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'partials/sidebar.html' %}
        <div class="main-panel">
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            {% include 'partials/footer.html' %}
        </div>
    </div>

<script src="{% static 'skydash-free/dist/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'skydash-free/dist/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'skydash-free/dist/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'skydash-free/dist/assets/js/misc.js' %}"></script>  



{% block extra_scripts %}{% endblock %}

</body>
</html>
